@{
  Layout = "_Layout";
}

@model TennisCourt.Models.Player

<h2>Add a court</h2>

<h4>Add a court to this player: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PlayerId)

  @Html.Label("Select court")
  @Html.DropDownList("CourtId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to player list", "Index")</p>