@{
  Layout = "_Layout";
}

@using TennisCourt.Models;
@model IEnumerable<TennisCourt.Models.Player>

<h1>Players for @User.Identity.Name</h1>

@if (@Model.Any())
{
  <ul>
  @foreach (Player player in Model)
  {
    <li>@Html.ActionLink($"{player.Name}", "Details", new { id = player.PlayerId })</li>
  }
  </ul>
}
else
{
  <h3>No players have been added yet!</h3>
}


<p>@Html.ActionLink("Add new player", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
